<h3>Welcome!</h3>

<p>This is the Postit template. You've access the PostsController, index action. This is the index template. Find me under app/views/posts folder.</p>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= post %>
    </li>
  <% end %>
</ul>

